* {
    font-family: sans-serif;
}

button {

    font-size: 1rem;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    color: dodgerblue;
    padding: 10px;
}

button:hover {
    color:white;
    background-color: dodgerblue;
}

button:active {
    color:white;
    background-color: dodgerblue;
}

input[type='text'] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input[type='password'] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}



