* {
    font-family: sans-serif;
}

button {

    font-size: 1rem;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    color: dodgerblue;
    padding: 10px;
}

button.sm {

    padding: 5px;
}

button.danger {
    color: red
}

button:hover {
    color:white;
    background-color: dodgerblue;
}


input[type='text'] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input[type='number'] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input[type='password'] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
    padding: 5px;
}
