* {
    font-family: sans-serif;
}

button {
    padding: 5px;
    font-size: 1rem;
}

input[type='text'] {
    padding: 7px;
}

input[type='password'] {
    padding: 7px;
}

.gauge {
    background: #dfdfdf;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.gauge p {
    text-transform: uppercase;
    font-size: 1rem;
    color: dimgray;
}

.gauge h2 {
    font-weight: bold;
}

.top-bar {
    z-index: 10;
    width: 100%;
    box-shadow: #0c13212d 0px 0px 5px 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: white;

}
.top-bar p {
    margin-top: auto;
    margin-bottom: auto
}

.metrics-board {

    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top:190px;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
}

.lookup-top-bar {
    z-index: 30;
    background: white;
}

.orders-top-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 10px;
    z-index: 30;

}



.orders-top-bar {
    display: grid; grid-template-columns: 1fr 1fr; gap: 10px; width: 100%; padding-bottom: 10px; padding-top: 10px;
}

.orders-card-container {
    position: absolute;
    top: 200px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    overflow-y: scroll;
}

@media screen and (min-width: 740px) {
    .metrics-board {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .entry-card-action-btn {
        display: flex; flex-direction: column; gap: 10px
    }



    .entry-card {
            align-items: center;
    }

    .lookup-top-bar {

        background: white;
        display: grid;
        gap: 10px;
        grid-template-columns: 1.5fr 1fr 1fr 1fr
    }

    .orders-card-container {
        top: 210px;
    }

    .orders-top-bar {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 740px) {
    .metrics-board {
        grid-template-columns: 1fr 1fr;
    }
    .entry-card-action-btn {
        right: 0;
        display: flex; flex-direction: row; gap: 5px;
    }
    .entry-card-action-btn button {
        padding-left: 7px;
        padding-right: 7px;
    }

    .orders-card-container {
        top: 260px;
    }

    .entry-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .entry-card-img {
        display: none;
    }
    .lookup-top-bar {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        background: white;
    }

    .orders-top-bar {
        grid-template-columns: 1fr 1fr;
    }

    .card-container {
        top: 240px
    }

}


.entry-card {
    display: flex;
    width: 100%;
    gap:10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;

}

.card-info-entry {
    margin-bottom: 0px;
}

.card-info {
    flex-grow: 1;
}

.accented-indicator {
    color: var(--primary)
}

.accented-green {
    color: var(--green)
}

.accented-purple {
    color: var(--purple);
}

.accented-danger {
    color: var(--danger)
}

.orders-card {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}



.orders-card-info p {
    margin-bottom: 5px

}

.hidden {
    display: none;
}

.orders-card-btn {
    display: flex;
    gap: 5px;
}

.orders-card-btn button {
    padding-left: 10px;
    padding-right: 10px;
}

.suggested-row {
    background-color: rgba(0, 122, 255, 0.16) !important;
}